@tailwind base;

@tailwind components;

@tailwind utilities;

.container-page {
  @apply relative mx-6 flex min-h-screen items-start justify-center sm:mx-10
    md:mx-28 xl:mx-40 2xl:mx-72;
}

.container-section {
  @apply my-14 flex flex-col items-center justify-center gap-6;
}

.space-to-footer {
  @apply pb-10 2xl:pb-40;
}

.div-central {
  @apply my-4 flex flex-col items-center justify-center gap-8 md:my-8;
}

.divisor {
  @apply my-2 h-0.5 w-full rounded bg-neutral-800;
}

.card {
  @apply rounded-3xl border border-neutral-700 p-6 2xl:p-10;
}

.project-card {
  @apply flex max-w-md cursor-pointer flex-col gap-4 rounded-3xl border
    border-neutral-700 p-6 transition-all duration-300 hover:scale-105
    hover:border-neutral-400 hover:shadow-xl sm:gap-5 2xl:p-10;
}

.personal-project-card {
  @apply transition-all duration-300 hover:shadow-teal-600 hover:text-teal-200;
}

.production-project-card {
  @apply transition-all duration-300 hover:shadow-purple-600 hover:text-purple-300;
}

.skill-card {
  @apply rounded-3xl border border-neutral-700 transition-all duration-300
    hover:scale-105 hover:shadow-slate-600 hover:border-neutral-400
    hover:text-sky-100 2xl:p-6;
}

.work-card {
  @apply cursor-pointer rounded-3xl border border-neutral-700 transition-all
    duration-300 hover:shadow-slate-600 hover:border-neutral-400 hover:scale-105
    hover:shadow-xl 2xl:p-10;
}

.shadow-card {
  @apply shadow-lg shadow-neutral-700;
}

.h1-bold {
  @apply text-4xl font-bold md:text-5xl;
}

.h1-semibold {
  @apply text-4xl font-semibold md:text-5xl;
}

.h1-medium {
  @apply text-4xl font-medium md:text-5xl;
}

.h2-bold {
  @apply text-2xl font-bold md:text-3xl;
}

.h2-semibold {
  @apply text-2xl font-semibold md:text-3xl;
}

.h2-medium {
  @apply text-2xl font-medium md:text-3xl;
}

.h3-bold {
  @apply text-xl font-bold md:text-2xl;
}

.h3-semibold {
  @apply text-xl font-semibold md:text-2xl;
}

.h3-medium {
  @apply text-xl font-medium md:text-2xl;
}

.h4-semibold {
  @apply text-lg font-semibold md:text-xl;
}

.h4-medium {
  @apply text-lg font-medium md:text-xl;
}

.h4-normal {
  @apply text-lg font-normal md:text-xl;
}

.txt-gray {
  @apply text-sm text-neutral-300 md:text-base;
}

.txt-gray-400 {
  @apply text-sm text-neutral-400 md:text-base;
}