@tailwind base;

@tailwind components;

@tailwind utilities;

.container-page {
  @apply relative mx-72 flex min-h-screen items-start justify-center;
}

.container-section {
  @apply my-14 flex flex-col items-center justify-center gap-6;
}

.space-to-footer {
  @apply pb-40;
}

.div-central {
  @apply flex flex-col items-center justify-center gap-8;
}

.divisor {
  @apply my-2 h-0.5 w-full rounded bg-neutral-800;
}

.card {
  @apply rounded-3xl border border-neutral-700 2xl:p-10;
}

.project-card {
  @apply flex max-w-md cursor-pointer flex-col gap-5 rounded-3xl border
    border-neutral-700 transition-all duration-300 hover:scale-105
    hover:border-neutral-400 hover:shadow-xl 2xl:p-10;
}

.personal-project-card {
  @apply transition-all duration-300 hover:shadow-teal-600 hover:text-teal-200;
}

.production-project-card {
  @apply transition-all duration-300 hover:shadow-sky-600 hover:text-sky-300;
}

.skill-card {
  @apply rounded-3xl border border-neutral-700 transition-all duration-300
    hover:scale-105 hover:shadow-sky-200 hover:border-neutral-400 hover:text-sky-100
    2xl:p-6;
}

.work-card {
  @apply cursor-pointer rounded-3xl border border-neutral-700 transition-all
    duration-300 hover:shadow-sky-200 hover:border-neutral-400 hover:scale-105
    hover:shadow-xl 2xl:p-10;
}

.shadow-card {
  @apply shadow-lg shadow-neutral-700;
}

.h1-bold {
  @apply text-5xl font-bold;
}

.h1-semibold {
  @apply text-5xl font-semibold;
}

.h1-medium {
  @apply text-5xl font-medium;
}

.h2-bold {
  @apply text-3xl font-bold;
}

.h2-semibold {
  @apply text-3xl font-semibold;
}

.h2-medium {
  @apply text-3xl font-medium;
}

.h3-bold {
  @apply text-2xl font-bold;
}

.h3-semibold {
  @apply text-2xl font-semibold;
}

.h3-medium {
  @apply text-2xl font-medium;
}

.h4-semibold {
  @apply text-xl font-semibold;
}

.h4-medium {
  @apply text-xl font-medium;
}

.h4-normal {
  @apply text-xl font-normal;
}

.txt-gray {
  @apply text-neutral-300;
}